{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <br>
    <br>
    <h1>Visitas</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Upluaded files</th>
            </tr>
        </thead>
        <tbody>
            {% for card in all_cards %}
            <tr>
                <td>{{ card.name }}</td>
                <td>{{ card.files }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
